html{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }
  
  body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  background: linear-gradient(9.83deg,#e3f2fd 6.46%,rgba(255, 255, 255, 0) 92.73%)no-repeat,linear-gradient(180deg, #e4e4e4 0%, rgba(235, 235, 235, 0) 100%) no-repeat,#ffffff;
  background-attachment: fixed;
  }
  .nav{
    width: 100%;
    height: 10vh;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #FFFFFF;
    }
        ul {
        list-style: none; 
        margin: 0;
        padding-left: 0; 
        display: flex;
        margin-left: 6em;
      }
      li{
          margin-left: 3em;
          font-size: 18px;
      }
      a {
          text-decoration: none;  
          display: block;
          color: #A4B0BE;
      }
      .logo{
        padding-left: 3em;
      }
      .logo img{
        width: 132px;
        height: 64px;
        left: 60px;
        top: 43px;
      }
      .plate{
        padding-top:10em;
        position: absolute;
        left: 0;
        top: 21.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
        .plate img{
        margin-top: 10em;
        position: fixed;
        left: 0;
        z-index: -1;
      }
      .main{
          display: flex;
      }
      .data{
        background: rgba(255, 255, 255, 0.8);
        border-radius: 3px;
        color: #747D8C;
        width: 500px;
        height: 605px;
        left: 60px;
        top: 197px;
        margin-right: 4em;
        margin-top: 2em;
        
      }
      .address{
        background: rgba(255, 255, 255, 0.8);
        border-radius: 3px;
        color: #747D8C;
        width: 585px;
        height: 605px;
        left: 668px;
        top: 197px;
        margin-right: 2em;
        margin-top: 2em;
        margin-left: 2em;
      }
      .schedule{
        background: rgba(255, 255, 255, 0.8);
        border-radius: 3px;
        color: #747D8C;
        width: 587px;
        height: 605px;
        left: 1273px;
        top: 197px;
        margin-right: 2em;
        margin-top: 2em;
        margin-left: 2em;
      }
      h3{
        color: #2196F3;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;

      }
      input{
        background: #FFFFFF;
        border: 0.5px solid #747D8C;
        box-sizing: border-box;
        border-radius: 44px;
        width: 415px;
        height: 40px;
        left: 212px;
        top: 295px;
      }
      ::placeholder{
        color: #ABB2BA;
      }

      