html{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

body{
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 height: 100vh;
 width: 100%;
 font-size: 14px;
 line-height: 16px;
 background-image: url("img/list3.png");
 background: linear-gradient(9.83deg,#e3f2fd 6.46%,rgba(255, 255, 255, 0) 92.73%)no-repeat,linear-gradient(180deg, #e4e4e4 0%, rgba(235, 235, 235, 0) 100%) no-repeat,#ffffff;
 background-attachment: fixed;
}

.main{
  z-index: 10;
  min-width: 560px;
  max-width: 30%;
  height: 65%;
  background: #ffffff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


#login{
  padding-left: 19px;
  margin-bottom: 12px;
  min-width: 435px;
  width: 70%;
}
#password{
  margin-bottom: 33px;
  padding-left: 19px;
  min-width: 435px;
  width: 70%;
}


form input
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
	height: 35px;
	border: 1px solid #747D8C;
	border-radius: 44px;
  border: 1px solid #747D8C;
  box-sizing: border-box;
  border-radius: 44px;
  color: #ABB2BA;

}
form{
  width: 100%;
  margin-top: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button
{
  background: #64B5F6;
  border-radius: 44px;
  text-align: center;
  color: #FFFFFF;
  width: 30%;
  min-width: 222px;
  
}

.logo{
  margin-top: 6em;
  margin-left: 1em;
}

.plate{
  padding-top:10em;
  position: absolute;
  right: 0;
  top: 21.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plate img{
  margin-top: 10em;
  position: fixed;
  right: 0;
}